* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
.over-flow {
    overflow: hidden;
}

.container {
    max-width: 1400px;
    margin: auto;
}
a {
    text-decoration: none;
}
.d-flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.pt-100 {
    padding-top: 100px;
}
.mt-20 {
    margin-top: 20px;
}
.circle {
    background: #32557f;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid red;
}
.eclipse {
    background: #32557f;
    width: 200px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid red;
}
.half-eclipse {
    background: #32557f;
    border: 1px solid red;
    width: 150px;
    height: 75px;
    /* border-radius: 50%; */
    border-radius: 50% /100% 100% 0 0%;
    /* border-radius: 50% / 0 0 100% 100%; */
    /* border-radius:  100% 0 0 100% / 50%;  */
    /* border-radius:  0 100% 100% 0 / 50%; */
    
}
.quarter-eclipse {
    background: #32557f;
    border: 1px solid red;
    width: 150px;
    height: 75px;
    /* border-radius: 100% 0 0 0; */
    /* border-radius:  0 100% 0 0; */
    /* border-radius:  0 0 100% 0; */
    border-radius:  0 0 0 100%;
}
.cone {
    width: 0;
    height: 0;
    border-radius: 50%;
    border-top: 100px solid #32557f;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #32557f;
}
.arrow {
    width: 15px;
    height: 15px;
    border: 2px solid #32557f;
    border-left: 0;
    border-top: 0;
    transform: rotate(225deg);
}
.arrow-curved {
    position: relative;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid #32557f;
    transform: rotate(10deg);

    &:after {
        content: "";
        position: absolute;
        border: 0 solid transparent;
        border-top: 3px solid #32557f;
        border-radius: 20px 0 0 0;
        top: -12px;
        left: -9px;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
      }
}
            
.arrow-pointer {
    width: 250px;
    height: 50px;
    background: #32557f;
    position: relative;
  
    &:after {
      content: '';
      position: absolute;
      left: 0; bottom: 0; width: 0; height: 0;
      border-left: 25px solid #fff;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
    }
  
    &:before {
      content: '';
      position: absolute;
      right: -25px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 25px solid #32557f;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
    }
  }
  .diamond4 {
    border-style: solid;
    border-color: transparent transparent #32557f transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    box-sizing: content-box;
    position: relative;
    margin: 20px 0 50px 0;
  
    &::after {
      content: '';
      position: absolute;
      top: 25px;
      left: -25px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #32557f transparent transparent transparent;
      border-width: 70px 50px 0 50px;
    }
  }

          
.pentagon {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #32557f transparent;
  
    &::before {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      top: -85px;
      left: -18px;
      border-width: 0 45px 35px;
      border-style: solid;
      border-color: transparent transparent #32557f;
    }
  }

          
.hexagon {
    width: 100px;
    height: 55px;
    background: #32557f;
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid #32557f;
    }
  
    &::after {
      content: '';
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid #32557f;
    }
  }
      

          
.star-five {
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    margin: 50px 0;
    color: #32557f;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #32557f;
    transform: rotate(35deg);
  
    &::before {
      content: '';
      position: absolute;
      top: -45px;
      left: -65px;
      display: block;
      height: 0;
      width: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 80px solid #32557f;
      transform: rotate(-35deg);
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: -105px;
      display: block;
      width: 0px;
      height: 0px;
      color: #32557f;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-bottom: 70px solid #32557f;
      transform: rotate(-70deg);
    }
  }
     
  
          
.bubble5 {
    position: relative;
    width: 280px;
    height: 80px;
    padding: 5px;
    color: #32557f;
    border-radius: 5px;
    border: 3px solid #32557f;
  
    &::before,
    &::after {
      content: '\0020';
      display: block;
      position: absolute;
      top: -15px;
      left: 15px;
      z-index: 2;
      width: 0;
      height: 0;
      overflow: hidden;
      border: solid 15px transparent;
      border-top: 0;
      border-bottom-color: #7eb4e2;
    }
  
    &::before {
      top: -18px;
      z-index: 1;
      border-bottom-color: #32557f;
    }
  }
  .thick-arrow-left {
    width: 25px;
    height: 25px;
    border: 10px solid #333;
    border-left: 0;
    border-top: 0;
  
    transform: rotate(135deg);
  }

  .yin-yang {
    width: 50px;
    box-sizing: content-box;
    height: 25px;
    background: #fff;
    border-color: #333;
    border-style: solid;
    border-width: 2px 2px 26px 2px;
    border-radius: 100%;
    position: relative;
  }
  .yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 9.4px solid #333;
    border-radius: 100%;
    width: 6.25px;
    height: 6.25px;
    box-sizing: content-box;
  }
  .yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #333;
    border: 9.4px solid #fff;
    border-radius: 100%;
    width: 6.25px;
    height: 6.25px;
    box-sizing: content-box;
  }

  .rectangle {
      width: 300px;
      height: 80px;
      background-color: aquamarine;
      position: relative;
  }
  .rectangle:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    background-color: white;
    border-left: 40px solid aquamarine;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
  }
  .rectangle:before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    border-left: 40px solid transparent;
    border-top: 40px solid aquamarine;
    border-bottom: 40px solid aquamarine;
  }
  .bubble {
    width: 150px;
    height: 90px;
    background-color: brown;
    border-radius: 10px;
    position: relative;
  }
  .bubble:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 40%;
    border-bottom: 20px solid transparent;
    border-left: 20px solid brown;
    transform: rotate(45deg);
  }
  .bubble:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 40%;
    border-bottom: 20px solid transparent;
    border-left: 20px solid brown;
    transform: rotate(225deg);
  }
  .bubble-right {
    width: 150px;
    height: 90px;
    background-color: brown;
    border-radius: 10px;
    position: relative;
  }
  .bubble-right:after {
    content: "";
    position: absolute;
    top: 42%;
    right: -10px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid brown;
    transform: rotate(135deg);
  }
  .bubble-right:before {
    content: "";
    position: absolute;
    top: 42%;
    left: -10px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid brown;
    transform: rotate(315deg);
  }

  .rect-box {
    width: 280px;
    height: 80px;
    border-radius: 5px;
    border: 3px solid red;
    position: relative;
  }
  .rect-box:after {
    content: "";
    position: absolute;
    top: -32px;
    left: 30px;
    /* background: red; */
    border-left: 22px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    transform: rotate(270deg);
    z-index: 2;
  }
  .rect-box:before {
    content: "";
    position: absolute;
    top: -38px;
    left: 29px;
    /* background: red; */
    border-left: 25px solid red;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: rotate(270deg);
    z-index: 1;
  }
  .bubble-6 {
    width: 280px;
    height: 80px;
    background-color: #efefef;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .2);
    position: relative;
  }
  .bubble-6:after {
    content: "";
    position: absolute;
    right: 37px;
    bottom: -31px;
    border-left: 27px solid transparent;
    border-top: 27px solid rgba(0, 0, 0, .2);;
    z-index: 1;
  }
  .bubble-6:before {
    content: "";
    position: absolute;
    right: 40px;
    bottom: -23px;
    border-left: 26px solid transparent;
    border-top: 26px solid #efefef;
    z-index: 2;
  }
  .bubble6 {
    position: relative;
    width: 280px;
    height: 80px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .2);
    padding: 15px;
  }
  
  .bubble6-arrow {
    position: absolute;
    right: 15px;
    bottom: -25px;
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, .2);
  
    &::before {
      content: '';
      position: absolute;
      right: 5px;
      bottom: 2px;
      border-left: 23px solid transparent;
      border-top: 23px solid #a7a7a7;
    }
  
    &::after {
      content: '';
      position: absolute;
      right: 6px;
      bottom: 4px;
      border-left: 21px solid transparent;
      border-top: 21px solid #efefef;
    }
  }
  .plus {
    background-color: red;
    height: 100px;
    width: 25px;
    position: relative;
  }
  .plus:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    height: 100px;
    width: 25px;
    transform: rotate(90deg);
  }
  .egg {
    width: 130px;
    height: 175px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  
  .fleg {
    width: 110px;
    height: 56px;
    background-color: orange;
    position: relative;
  }
  .fleg:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 10px solid white;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
  }
  .heart {
    width: 120px;
    height: 100px;
    /* background-color: red; */
    position: relative;
  }
  .heart:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 90px;
    background-color: pink;
    border-radius: 60% 60% 10% 0;
    transform: rotate(-45deg);

  }
  .heart:before {
    content: "";
    position: absolute;
    top: 0;
    left: 22px;
    width: 60px;
    height: 90px;
    background-color: pink;
    border-radius: 60% 60% 0 10%;
    transform: rotate(45deg);
  }

  .infinity {
    width: 106px;
    height: 50px;
    position: relative;
  }
  .infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 5px solid red;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
  }
  .infinity:before {
    content: "";
    position: absolute;
    top: 0;
    right: 17px;
    width: 30px;
    height: 30px;
    border: 5px solid red;
    border-radius: 50px 50px 0 50px;
    transform: rotate(138deg);
  }
  .leave {
    width: 100px;
    height: 100px;
    border-radius: 100% 0;
    border: 5px solid red;
  }
  .leave1 {
    width: 100px;
    height: 100px;
    border-radius: 0 50% 50%;
    border: 5px solid red;
  }
  .lock {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    background-color: red;
    position: relative;
  }
  .lock:after {
    content: "";
    position: absolute;
    top: -190px;
    left: 25px;
    width: 150px;
    height: 140px;
    border-radius: 50% 50% 0 0;
    border: 50px solid red;
  }
  .lock:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
  }
  .search {
    width: 100px;
    height: 100px;
    border: 10px solid red;
    border-radius: 50%;
    position: relative;
  }
  .search:after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -27px;
    width: 10px;
    height: 70px;
    background-color: red;
    transform: rotate(125deg);
  }